@mixin clearfix {
  &::after {
    content: "";
    clear: both;
    display: table;
  }
}

@mixin column-gutter {
  &:not(:last-child) {
    margin-right: $grid-horizontal-gutter;
  }
}

@mixin background-image-with-gradient(
  $image,
  $direction,
  $colorStart,
  $colorFinish
) {
  background-image: linear-gradient(
      $direction,
      rgba($colorStart, 0.8),
      rgba($colorFinish, 0.8)
    ),
    url($image);
}

@mixin gradient-text($direction, $colorStart, $colorFinish) {
  background-image: linear-gradient(
    $direction,
    $colorStart,
    $colorFinish
  );
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

@mixin absolute-center{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

//could be expressed in em also (safari bug) so the breakepoint changes if the ROOT font-size changes (when user zoomes in)
//values in pixel: 
//mobile max 600px => should not be needed as it should be mobile first
//tablet-portrait: min 600px
//tablet-landscape: min 900px
//desktop: min 1200px
//large: min: 1800px
@mixin phone {
  @media(max-width: 600px){
    @content;
  }
}

@mixin tablet-portrait{
  @media(min-width: 600px){
    @content;
  }
}

@mixin tablet-landscape{
  @media(min-width: 900px){
    @content;
  }
}

@mixin desktop{
  @media(min-width: 1200px){
    @content;
  }
}

@mixin desktop-xl{
  @media(min-width: 1400px){
    @content;
  }
}

@mixin large{
  @media(min-width: 1800px){
    @content;
  }
}