.booking-table{

    &__element{
        background-color: $color-primary;
        padding: 2rem;
        font-size: 3rem;
        color: $color-white;
        border-radius: 10px;
        overflow-x: hidden;
        &:not(:last-child){
            margin-bottom: 3rem;
        }
        animation: fromBottom 1s ease-in;
    }
}