.form {
  &__group:not(:last-child) {
    margin-bottom: 3rem;
  }

  &__input {
    display: block;
    width: 90%;
    font-family: inherit;
    color: darken($color-grey, 50%);
    font-size: $font-size-default;
    padding: 1.5rem 2rem;
    border-radius: 0.5rem;
    background-color: rgba($color-white, 0.4);
    border: none;
    border-bottom: 3px solid transparent;
    transition: all 0.2s;

    &:focus {
      outline: none;
      box-shadow: 0 1rem 2rem rgba($color-black, 0.2);
      border-bottom: 3px solid $color-primary;
    }

    &:focus:invalid {
      border-bottom: 3px solid $color-secondary-dark;
    }
  }

  &__label {
    display: block;
    font-family: inherit;
    font-size: 1.3rem;
    font-weight: 700;
    margin-left: 2rem;
    margin-top: 0.7rem;
    opacity: 1;
    transition: all 0.4s;
  }

  &__input:placeholder-shown + &__label {
    opacity: 0;
    visibility: hidden;
    transform: translateY(-4rem);
  }

  &__radio-group {
    display: inline-block;
    width: 49%;
    margin-bottom: 1rem;
  }

  &__radio-label {
    font-size: $font-size-default;
    cursor: pointer;
    position: relative;
    padding-left: 4.5rem;
  }

  &__radio-button {
    display: inline-block;
    position: absolute;
    top: -.6rem;
    left: 0;
    height: 3rem;
    width: 3rem;
    border: 0.5rem solid $color-primary;
    border-radius: 50%;

    &::after {
        content: "";
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        height: 1.3rem;
        width: 1.3rem;
        border-radius: 50%;
        background-color: $color-primary;
        opacity: 0;
        transition: all .2s;
    }
  }

  &__radio-input{
      display: none;
  }

  &__radio-input:checked ~ &__radio-label &__radio-button::after{
    opacity: 1;
  }
}
