.lifting-card {
  background-color: rgba($color-white, 0.8);
  font-size: 1.5;
  padding: 2.5rem;
  text-align: center;
  border-radius: 3px;
  box-shadow: 0 1.5rem 4rem rgba($color-black, 0.15);
  transition: all 0.2s;

  &__icon {
    font-size: 6rem;
    margin-bottom: 0.5rem;

    &::before{
        @include gradient-text(to right, $color-primary-light, $color-primary-dark);
    }

  }

  &:hover{
      transform: translateY(-1.5rem) scale(1.05);
  }

}
