.toast {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  z-index: 5;
  opacity: 0;
  visibility: hidden;
  text-align: center;

  &--visible {
    opacity: 1;
    visibility: visible;
  }

  &__content {
    @include absolute-bottom;
    width: 100%;
    background-color: $color-white;
    padding: 3rem;
    box-shadow: 0 2rem 4rem rgba($color-black, 0.9);
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    transition: all 0.2s;

    @include tablet-portrait{
      min-height: 25%;
      width: 75%;
      transform: translate(-50%, -50%) scale(0.5);
    }
  }

  &__text {
    font-size: 3rem;
    margin-bottom: 3rem;
  }

  h2{
    font-size: 3rem;
  }

}
