/* font-size: 10px => to make calculation easy but expressed in procent of the browser default, so user may still be able to change it freely*/
html{
    font-size: 62.5%; /*62.5 * 16px = 10px*/
}

body {
  box-sizing: border-box;
}