.footer {
  background-color: darken($color-grey, 25%);
  padding: 6rem 0;
  font-size: $font-size-phone;

  @include tablet-portrait{
    padding: 10rem 0;
    font-size: 1.4rem;
  }

  &__logo-box {
    text-align: center;
    margin-bottom: 8rem;
  }

  &__logo {
    height: 15rem;
  }

  &__navigation {
    display: inline-block;
    border-top: 1px solid darken($color-grey-light, 50%);
    padding-top: 1rem;
    width: 100%;
    text-align: center;

    @include tablet-portrait{
        
      }
  }

  &__list {

    list-style: none;
  }

  &__list-item {
    display: inline-block;

    &:not(:last-child) {
      margin-right: 2rem;
    }
  }

  &__link {
    &:link,
    &:visited {
      color: $color-grey-light;
      text-decoration: none;
      text-transform: uppercase;
      display: inline-block;
      transition: all 0.2s;
    }

    &:hover,
    &:active {
      color: $color-primary;
      box-shadow: 0 1rem 2rem rgba($color-black, 0.5);
      transform: rotate(3deg) scale(1.2);
    }
  }

  &__copyright {
    border-top: 1px solid darken($color-grey-light, 50%);
    padding-top: 1rem;
    text-align: center;

    @include tablet-portrait{
        float: right;
    }

  }
}
