.grid {
  max-width: $grid-width;
  margin: 0 auto;

  .row {
    @include clearfix;

    &:not(:last-child) {
      margin-bottom: $grid-vertical-gutter;
    }

    .col {
      float: left;
      @include column-gutter;
    }

    .two-of-four {
      width: calc((100% - #{$grid-horizontal-gutter}) / 2);
    }

    .one-of-four {
      width: $col-one-of-four-width;
    }

    .three-of-four {
      width: calc(3* #{$col-one-of-four-width} + (2 * #{$grid-horizontal-gutter}));
    }

    .one-of-three {
      width: $col-one-of-three-width;
    }

    .two-of-three {
      width: calc(2 * #{$col-one-of-three-width} + #{$grid-horizontal-gutter});
    }
  }
}
