.grid {
  max-width: 70rem;
  margin: 0 auto;

  @include tablet-landscape{
    max-width: $grid-width;
  }

  .row {
    @include clearfix;

    &:not(:last-child) {
      margin-bottom: $grid-vertical-gutter;
    }

    .col {
      float: left;
      margin-bottom: $grid-vertical-gutter;

      @include tablet-landscape {
        @include column-gutter;
      }

    }

    .two-of-four {
      width: 100%;

      @include tablet-landscape {
        width: calc((100% - #{$grid-horizontal-gutter}) / 2);
      }
    }

    .one-of-four {
      width: 100%;

      @include tablet-landscape {
        width: $col-one-of-four-width;
      }
    }

    .three-of-four {
      width: 100%;

      @include tablet-landscape {
        width: calc(
          3 * #{$col-one-of-four-width} + (2 * #{$grid-horizontal-gutter})
        );
      }
    }

    .one-of-three {
      width: 100%;

      @include tablet-landscape {
        width: $col-one-of-three-width;
      }
    }

    .two-of-three {
      width: 100%;

      @include tablet-landscape {
        width: calc(
          2 * #{$col-one-of-three-width} + #{$grid-horizontal-gutter}
        );
      }
    }
  }
}
