@import '../abstracts/variables';

.header {
    @include background-image-with-gradient ('../img/hero.jpg', to right bottom, $color-primary-light, $color-primary-dark);
    background-size: cover;
    height: 95vh;
    background-position: top;
    clip-path: polygon(0 0, 100% 0, 100% 85vh, 0 100%);
    position: relative;
  }
  