.header {
  @include background-image-with-gradient(
    "../img/hero-small.jpg",
    to right bottom,
    $color-primary-light,
    $color-primary-dark
  );
  background-size: cover;
  height: 60vh;
  background-position: top;
  position: relative;

  @include tablet-landscape {
    height: 95vh;
    
    @supports(clip-path: polygon(0 0)) or (-webkit-clip-path: polygon(0 0)){
      -webkit-clip-path: polygon(0 0, 100% 0, 100% 90vh, 0 100%);
      clip-path: polygon(0 0, 100% 0, 100% 90vh, 0 100%);
    }

    @include background-image-with-gradient(
    "../img/hero.jpg",
    to right bottom,
    $color-primary-light,
    $color-primary-dark
  );
  }
}
